*{
  margin: 0;
  padding: 0;
  margin: 0;
  
 
}
picture{
  height: 100%;
 
}
.mobile-img{
 width: 100%;
 display: block;
 border-top-left-radius: 1em;
 border-top-right-radius: 1em;
}


.desktop-img{
  display: none;
}
h1{
   font-family: "Fraunces", sans-serif;
  font-weight: 700;
  
}



 /*max-height: 75svh;*/

  


body{
  background-color: hsl(30, 38%, 92%);
  height: 100svh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
         
}
main{
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 1em;
  
}

.product-discription{
  padding: 2em;
  position: relative;
  

}

/* gives that spacing top and bottom between the frgrance name and discription*/
.product-discription .category,h1{
  padding-bottom: 1em;
}
.category{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 0.4em;
 
}
.product-listing{
  padding-bottom: 1em;
  line-height: 1.5;

}

.new-price{
  color:  hsl(158, 36%, 37%);
  font-size: 2.5rem;
  font-weight: 700;
   font-family: "Fraunces", sans-serif;
  
  
}
.old-price{
  text-decoration: line-through;
  position: absolute;
  color: hsl(228, 12%, 48%);
  font-weight: bold;
  margin-bottom: 5em;
  padding-left: 0.8em;
  bottom: 1.5em;
 

  
}
button{
  color: white;
  width: 100%;
  margin-top: 1.3em;
  padding: 0.9em;
  background-color: hsl(158, 36%, 37%);
  border-radius: 0.6em;
 border: none;
}
  








 @media(min-width: 700px) {
  .mobile-img{
    display: none;
  }
  .desktop-img{
  width: 100%;
  display: block;
  height: auto;
  border-top-left-radius: 1em;
 border-bottom-left-radius: 1em;

  
  }


 main{
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: clamp(30em, 50%, 45em);
   height: auto;
  
   

  /* width: 60vw;
    height: 60svh;*/
         
      
       
      
 
       
 }

}
      /*
        width: 80%;
        max-width: 45vw;
        max-height: 75vh;
        flex-direction: row;
      }

        .desktop-img{
        display: block;
      
      
      
 
       
      }
        */

    
    
     
   



























     /*
    main{
      width: 100%;
    
      width: 80%;
      min-width: 32em;
      border-radius: 0.6em;
     
     
    }
   
    .mobile-img {
       width: 100%;
      height: auto;
       border-top-left-radius: 0.6em;
       border-top-right-radius: 0.6em;
        
       
    }
    .desktop-img{
      display: none;
      
    }
     .product-discription{
     padding: 1.5em;
     
    background-color: white;
     
     
   
   
    
    }
    .product-discription > p{
      line-height: 1.5;
    }


 
    .product-discription > .category{
     
      font-family: Montserrat;
      font-weight: 500;
    }
     .product-discription >h1{
      padding-bottom: 0.5em;
      padding-top: 0.5em;

     }

    .price-section > .new-price{
      font-size: 2em;
      padding-right: 0.3em;
      font-weight: bolder;
      color: hsl(158, 36%, 37%);
      
    }
     .old-price{
       text-decoration:line-through;
        position: relative;
        top: -0.5em;

     }
    
  
   .price-section{
    margin-top: 1em;
   }

    .cart-button{
      background-color:hsl(158, 36%, 37%);
      text-align: center;
      color: azure;
      width: 100%;
      border: none;
      margin-top: 1.5em;
      padding: 0.8em;
      border-radius: 0.4em;
      
    }
           */